<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://192.168.1.146:3306/resa</property>
    <property name="hibernate.connection.username">next</property>
    <property name="hibernate.connection.password">mdp</property>
    <mapping resource="booking/hibernate/entities/StatutResa.hbm.xml"/>
    <mapping resource="booking/hibernate/entities/Reservation.hbm.xml"/>
    <mapping resource="booking/hibernate/entities/Artiste.hbm.xml"/>
    <mapping resource="booking/hibernate/entities/CategorieArt.hbm.xml"/>
    <mapping resource="booking/hibernate/entities/Mobilite.hbm.xml"/>
    <mapping resource="booking/hibernate/dao/Reservation.hbm.xml"/>
    <mapping resource="booking/hibernate/dao/Artiste.hbm.xml"/>
    <mapping resource="booking/hibernate/dao/Mobilite.hbm.xml"/>
    <mapping resource="booking/hibernate/dao/CategorieArt.hbm.xml"/>
    <mapping resource="booking/hibernate/dao/StatutResa.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
